@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
} */
/* 
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 17%;
}

.container .box {
  transform-style: preserve-3d;
  animation: animate 22s linear infinite;
}

@keyframes animate {
  0% {
    transform: perspective(1000px) rotateX(0deg) rotate(25deg);
  }
  100% {
    transform: perspective(1000px) rotateX(360deg) rotate(25deg);
  }
}

.container .box span {
  position: absolute;
  /* color: #d3d3d3; */
  color: #046307;
  font-size: 1.9em;
  white-space: nowrap;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 10px;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.2),
    transparent
  );
  line-height: 0.7em;
  transform-style: preserve-3d;
  text-shadow: 0 5px 15px rgba(0.0.0.25);
  transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg))
    translateZ(105px);
}

.container .box span i:nth-child(1) {
  font-style: initial;
  /* color: #ff246f; */
  color: #d3d3d3;
}

.container .box span i:nth-child(2) {
  font-style: initial;
  /* color: #12b5ff; */
  color: #046307;
}

