
.global-window {
  height: 100vh;
  display: flex;
}

header {
  width: 100%;
  height: 20%;
  text-align: center;
  font-size: 30px;
}

svg {
  /* position: absolute; */
  border: 1px solid black;
  object-fit: cover;    /* cover for resizing */
  top: 30%;
}

rect {
  /* fill: url(#gradient); */
  width: 70px;
}

.side-bar {
  width: 20%;
  border: 1px solid blue;
}

.right-side-bar {
  width: 10%;
}

.carousel-window {
  width: 70%;
  border: 1px solid red;
  position: relative;
}

.carousel-container {
  background: lightgreen;
  height: 90%;
  overflow: hidden;
  /* position: relative; */
 
}

.carousel_track {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 100%;
  transition: transform 250ms ease-in;
}

.carousel_slide {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;

}

.carousel-button-left {
  position: absolute;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
}

.carousel-button-right {
  position: absolute;
  top: 50%;
  right: -40px;
  transform: translateY(-50%);
}

.carousel_nav{
  /* background: pink; */
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel_indicator {
  border: 0;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: rgba(0,0,0,.3);
  margin: 0 12px;
}

.carousel_indicator.current-slide {
  background: rgba(0,0,0,.75);
}






